@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');
body {
    display: flex;
}
* {
    margin: 0;
    padding: 0;
}
.page-right {
    width: 100%;
}

.page-section {
    margin: 0 auto 0 auto;
    width: 80%;
    /* margin-left: 50px; */
}
.page-section h2 {
    line-height: 36px;
    display: inline-block;
    margin: 20px 20px 20px -10px;
}
.list-table {
    width: 100%;
    border-spacing: 10px;
    border-bottom: 1px solid darkgray;
    /* margin-left: 50px; */
}
.news-img {
    height: 120px;
    width: 180px;
    border-radius:20px;
}
.news-title {
    vertical-align:top;
    font-size: 20px;
    height: 70px;
}
.news-title a {
    text-decoration-line: none;
    color: black;
}
.news-title a:link {
    color: black;
}
.news-title a:visited {
    color: black;
}
.news-title a:hover {
    color: lightpink;
}
.news-title a:active {
    color: lightpink;
}
.news-icon {
    height: 30px;
    width: 30px;
    border-radius:15px;
}
.news-option {
    width:100%;
    border: 1px solid grey;
    border-radius: 20px;
    border-spacing: 15px;
    /* margin-left: 50px; */
}
.news-option tr {
    height: 40px;
}
.news-option span {
    font-weight: bolder;
}
.news-option label {
    padding: 5px;
    /* color: dimgray; */
}
.news-option input[type=checkbox], input[type=radio] {
    display: none;
}
.news-option input[type=checkbox]:checked + label {
    background-color: #FFC9C9;
    border-radius: 10px;
    color: #851212;
}
.news-option input[type=radio]:checked + label {
    background-color: #FFC9C9;
    border-radius: 10px;
    color: #851212;
}
.news-option .long_btn {
    height: 130px;
    width: 70px;
    background-color: #FF8D8D;
    border: 0;
    border-radius: 10px;
    color: #851212;
    font-weight: bolder;
}
.news-option input[type=submit]:active {
    background-color: #FF6F6F;
}
.news-main-border-box table {
    border-collapse : collapse;
    width: 100%;
}
.news-main-title {
    height: 100px;
    font-size: 30px;
    vertical-align: top;
}
.news-info {
    text-align: center;
    height: 30px;
    font-size: 12px;
    border-bottom: 1px solid grey;
}
.news-main-border-box {
    margin: 50px auto 50px auto;
    padding: 30px;
    width: 80%;
    border: 1px solid grey;
    border-radius: 20px;
}
.news-main-border-box .news-image {
    width: 70%;
    border-radius: 20px;
}
.news-main-border-box a {
    text-decoration-line: none;
    color: black;
}
.news-main-border-box a:link {
    color: black;
}
.news-main-border-box a:visited {
    color: black;
}
.news-main-border-box a:hover {
    color: grey;
}
.news-main-border-box a:active {
    color: grey;
}
.news-main-title form {
    display: inline;
}
.translate_btn {
    background-color: white;
    border: 0;
    color: #851212;
    font-size: 14px;
    font-weight: bold;
}
.header-table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    height: 70px;
}
.header-table .td1 {
    width: 100px;
}
.header-table .td1 a {
    text-decoration-line: none;
    font-size: 28px;
    font-family: Josefin Slab;
    color: #851212;
}
.header-table .td1 a:link {
    color: #851212;
}
.header-table .td1 a:visited {
    color: #851212;
}
.header-table .td1 a:hover {
    color: #851212;
}
.header-table .td1 a:active {
    color: #851212;
}
.header-table .td2 {
    text-align: center;
}
.header-table .td2 div {
    display: inline-block;
}
.header-table .td2 input {
    border: 1px solid grey;
    height: 24px;
    border-radius: 10px;
}
.header-table .td2 button {
    border: 0;
    background-color: white;
    font-size: 16px;
}
.header-table .td3 {
    width: 200px;
    text-align: right;
    font-size: 12px;
}
.header-table .td3 a {
    text-decoration-line: none;
    color: black;
}
.header-table .td3 a:link {
    color: black;
}
.header-table .td3 a:hover {
    color: black;
}
.header-table .td3 a:active {
    color: black;
}
.nav-bar {
    background-color: #414141;
    width: 100%;
    height: 50px;
}
.nav-bar-sub-menu {
    height: 0;
    list-style: none;
    overflow: hidden;
    transition: height ease-out 0.5s 0s, border-bottom-color 0.5s;
    display: block;
    border-bottom: 1px solid white;
}
.nav-bar-sub-menu li{
    float: left;
    height: 40px;
    width: 140px;
    margin-left: 50px;
    margin-right: 0;
    text-align: center;
    line-height: 40px;
}
.nav-bar div {
    display: inline-block;
    height: 50px;
    width: 140px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.nav-bar-sub-menu a {
    text-decoration-line: none;
    color: black;
}
.nav-bar-sub-menu a:hover {
    text-decoration-line: underline;
}
.nav-bar-sub-menu a:active {
    text-decoration-line: underline;
}
.nav-bar div a {
    text-decoration-line: none;
    color: white;
    height: 50px;
    width: 140px;
    display: inline-block;
}
.nav-bar div a:link {
    color: white;
}
.nav-bar div a:visited {
    color: white;
}
.nav-bar div a:hover {
    background-color: #FFC9C9;
    font-weight: bold;
    color: #851212;
}
.nav-bar div a:active {
    background-color: #FFC9C9;
    font-weight: bold;
    color: #851212;
}
.space-bottom-menu {
    display: none;
}
.bottom-menu {
    display: none;
}
.login {
    text-align: center;
}
.login .title {
    text-decoration-line: none;
    font-size: 28px;
    font-family: Josefin Slab;
    text-align: center;
    color: #851212;
    display: block;
    padding: 20px;
}
.login .login-form {
    border-radius: 20px;
    border: 1px solid grey;
    width: 300px;
    display: inline-block;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.login .login-form .login-input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
}
.login .login-btn {
    border: 1px solid #851212;
    border-radius: 5px;
    color: white;
    background-color: #851212;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login .login-form p {
    font-size: 12px;
    width: 300px;
}
.login .login-form .login-signup {
    font-size: 12px;
    width: 300px;
}
.login .login-form .login-signup span {
    float: left;
}
.login .login-form .login-signup a {
    float: right;
    color: black;
}
.mypage main .con {
    display: none;
}
.mypage main ul {
    border-bottom: 1px solid grey;
}
.mypage main ul li {
    display: inline-block;
    line-height: 50px;
    width: 200px;
    text-align: center;
    font-size: 16px;
}
.mypage main ul li.on {
    display: inline-block;
    line-height: 50px;
    border-bottom: 5px solid lightcoral;
}
.mypage main.change_profile,
.mypage main.bookmarked_news {
    display: block;
    padding: 10px 0 10px 0;
    width: 100%;
    border: 1px solid grey;
    border-radius: 20px;
}
.mypage main.change_profile .con1,
.mypage main.bookmarked_news .con2 {
    font-size: 16px;
    display: block;
}
.mypage .con1 {
    margin: 20px;
}
.mypage .con1 h4 {
    display: inline-block;
}
.mypage .prof-btn {
    color: #851212;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border: 0;
}
.news-option .long_btn {
    height: 130px;
    width: 70px;
    background-color: #FF8D8D;
    border: 0;
    border-radius: 10px;
    color: #851212;
    font-weight: bolder;
}
.news-option .long_btn:active {
    background-color: #FF6F6F;
}
.switchToTopicBtn {
    width: 22px;
    height: 22px;
    padding: 5px;
    border: 0;
    border-radius: 11px;
    background-color: #FF8D8D;
}
.switchToTopicBtn img {
    width: 12px;
    height: 12px;
}
.news-option input[type=date] {
    width: 150px;
    padding: 4px;
    border: 0;
    border-radius: 20px;
    background-color: #FFC9C9;
    color: #851212;
}
#resultContainer {
    /* margin-left: 50px; */
    margin-bottom: 50px;
    border: 1px solid grey;
    border-radius: 20px;
    width: 100%;
    height: 400px;
}
.ana-search-form {
    border: 1px solid grey;
    border-radius: 10px;
    width: 100%;
    height: 30px;
}
.news-option input[type=text] {
    border-radius: 10px;
    border: 0;
    height: 28px;
}
.news-option input[type=text]:focus {
    outline: none;
}
.suggested_keywords {
    background-color: lightgrey;
}
.suggested_keywords td {
    border-radius: 10px;
    padding: 10px;
}
.suggested_keywords span {
    display: inline-block;
    padding: 3px;
    margin: 5px;
    background-color: #FF8D8D;
    border-radius: 10px;
    font-weight: normal !important;
    font-size: 16px;
}
.news-option .short_btn {
    height: 24px;
    margin: 3px;
    width: 48px;
    background-color: #FF8D8D;
    border: 1px solid #FF8D8D;
    border-radius: 10px;
    color: #851212;
    font-weight: bolder;
    float: right;
}
.news-option .short_btn:active,
.news-option .short_btn:hover {
    background-color: #FF6F6F;
}
.keyword_ana main .con {
    display: none;
}
.keyword_ana main ul {
    border-bottom: 1px solid grey;
}
.keyword_ana main ul li {
    display: inline-block;
    line-height: 50px;
    width: 200px;
    text-align: center;
    font-size: 16px;
}
.keyword_ana main ul li.on {
    display: inline-block;
    line-height: 50px;
    border-bottom: 5px solid lightcoral;
}
.keyword_ana main.ana1,
.keyword_ana main.ana2,
.keyword_ana main.ana3 {
    display: block;
    /* margin: 0 0 0 50px; */
    padding: 10px 0 0 0;
    /* width: 80%; */
    border: 1px solid grey;
    border-radius: 20px;
}
.keyword_ana main.ana1 .con1,
.keyword_ana main.ana2 .con2,
.keyword_ana main.ana3 .con3 {
    display: block;
    height: 400px;
}
.bf_result {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}
.graph-container {
    width: 600px;
}
.wordcloud-container {
    width: 600px;
}
.BarGraph-container {
    width: 600px;
}
#newsList {
    border: 1px solid grey;
    border-radius: 20px;
    margin: 0 0 50px 0;
    /* width: 80%; */
}
#newsList p {
    border-bottom: 1px solid grey;
    display: block;
    padding: 20px;
}
.list-table-related {
    border-bottom: 1px solid darkgray;
    margin: 0 auto 5px auto;
    width: 95%;
}

/* 사이드 헤더 */
.side-bar {
    top: 0;
    left: 0;
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #FFC9C9;
    box-shadow: 3px 0 10px 0 grey;
}
.under-side-bar {
    width: 300px;
    height: 100%;
    flex: auto;
}
.logo {
    margin: 20px;
    display: inline-block;
}
.logo a {
    text-decoration-line: none;
    font-size: 28px;
    font-family: Josefin Slab;
    color: #851212;
}
.menu {
    display: block;
    margin: 25px 25px 25px 50px;
    font-size: 24px;
    font-weight: bold;
}
.sub-menu {
    display: block;
    margin: 25px 25px 25px 100px;
    font-size: 18px;
}
.menu a, .sub-menu a {
    text-decoration-line: none;
    color: black;
}
.line {
    display: block;
    width: 80%;
    height: 1px;
    margin: 0 auto 0 auto;
    background-color: #851212;
}




/* 새 메인페이지 */
.mainpage-box {
    box-shadow: 0 0 0 1px grey inset;
    border-radius: 20px;
    width: 100%;

    /* inline-block 사이의 미세한 여백 제거를 위함 */
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}
.mainpage-box-1 p {
    text-align: right;
    font-size: 14px;
    padding: 15px 15px 0 15px;
    color: #444444;
}
.mainpage-box-1 ul {
    list-style-type: none;
    padding: 20px 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.mainpage-box-1 ul li {
    display: inline-block;
    width: 20%;
    box-shadow: 3px 0 0 -2px grey inset;
}
.mainpage-box-1 .keyword {
    display: inline-block;
    font-size: 22px;
    text-align: center;
    width: 100%;
}
.mainpage-box-1 .num {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    width: 100%;
}
.mainpage-box div.keyword,
.mainpage-box div.num {
    display: inline-block;
}
.mainpage-box .list-table {
    padding: 0 0 10px 0;
}
.more-news-btn {
    text-decoration-line: none;
    color: #851212;
    font-size: 16px;
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    background-color: #FFC9C9;
}
.more-news-btn:hover {
    background-color: #FF8D8D;
}
.go-to-site {
    margin: 20px;
    width: 90px;
    height: 120px;
    display: inline-block;

    /* inline-block 사이의 미세한 여백 제거를 위함 */
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
}
.go-to-site a,
.go-to-site a:visited {
    text-decoration-line: none;
    color: black;
}
.go-to-site a:hover,
.go-to-site a:active {
    color: grey;
}
.go-to-site img {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 20px;
}
.go-to-site span {
    display: inline-block;
    width: 90px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
.go-to-site-line {
    display: block;
    margin: 0 auto;
    width: 96%;
    height: 1px;
    background-color: grey;
}

/* 나라 바꾸기 버튼(메인페이지) */
* {
     user-select: none;
     -webkit-tap-highlight-color: transparent;
 }
*:focus {
    outline: none;
}
.country-button {
    position: relative;
    width: 74px;
    height: 36px;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 2px;
}
.country-button.r,
.country-button.r .layer {
    border-radius: 100px;
}
.country-checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}
.knobs {
    z-index: 2;
}
.layer {
    width: 100%;
    background-color: #EEEEEE;
    transition: 0.3s ease all;
    z-index: 1;
}
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
/* Button 10 */
.button-10 .knobs:before,
.button-10 .knobs:after,
.button-10 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}
.button-10 .knobs:before {
    content: "";
    left: 4px;
    background-color: #fff;
}
.button-10 .knobs:after {
    content: "중국";
    right: 4px;
    color: #4e4e4e;
}
.button-10 .knobs span {
    display: inline-block;
    left: 4px;
    color: #D41D1D;
    z-index: 1;
}
.button-10 .country-checkbox:checked + .knobs span {
    color: #4e4e4e;
}
.button-10 .country-checkbox:checked + .knobs:before {
    left: 42px;
    background-color: #f44336;
}
.button-10 .country-checkbox:checked + .knobs:after {
    color: #F1E819;
}
.button-10 .country-checkbox:checked ~ .layer {
    background-color: #fcebeb;
}


/* 모바일에 최적화된 예외 CSS 코드*/
@media (max-width: 768px) {
    /* 헤더, nav 프레그먼트 */
    .header-table {
        border-bottom: 1px solid grey;
    }
    .header-table .td2 {
        text-align: right;
        padding-right: 20px;
    }
    .header-table .td3 {
        display: none;
    }
    .nav-bar {
        display: none;
    }

    /* 모바일 하단 메뉴 */
    .space-bottom-menu {
        display: block;
        height: 50px;
    }
    .bottom-menu {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index:100;
        border-top: 1px solid grey;
        background-color: white;
        margin: 0;
        padding: 0;
    }
    .bottom-menu div {
        display: inline-block;
        padding: 7px;
    }
    .bottom-menu img{
        width: 36px;
        height: 36px;
    }

    /* 슬라이드 메뉴 */



    /* 리스트 페이지 */
    .option {
        display: none;
    }
    .list-table {
        width: 100%;
        border-spacing: 15px;
        border-bottom: 1px solid darkgray;
        margin-left: 0;
    }
    .page-section {
        margin-left: 0;
    }

    /* 기사 본문 페이지 */
    .news-main-border-box {
        margin: 0;
        padding: 0;
        width: 100%;
        border: 0;
        border-radius: 0;
    }
    .news-info {
        border-bottom: 0;
    }

    /* 마이페이지 */
    .mypage main ul li {
        margin: 0;
        padding: 0;
        display: inline-block;
        line-height: 50px;
        width: 49%;
        text-align: center;
        font-size: 16px;
    }
    .mypage main ul {
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .mypage main.change_profile,
    .mypage main.bookmarked_news {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        border: 0;
    }
}