<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/new_style.css}">
    <title>회원 정보 수정</title>
</head>
<body class="mypage">

<header th:replace="fragments.html :: fragment-header"></header>

<div class="page-right">

    <div class="page-section">

        <h2>회원 정보 수정</h2>

        <main class='change_profile'>
            <ul>
                <li class="change_profile">내정보 수정</li>
            </ul>

            <!-- '내정보 수정' 선택 시 노출 -->
            <div class="con con1">
                <form id="editUserForm">
                <div>
                    <label for="userName"><h4>새 닉네임　&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</h4></label>  <input type="text" id="userName" name="userName">
                </div>
                <br>
                <div>
                    <label for="userPassword"> <h4>새 비밀번호&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;</h4></label>  <input type="password" id="userPassword" name="userPassword">
                </div>
                    <br>
                    <button type="button" class="prof-btn" onclick="editUser()">수정하기</button>
                </form>
            </div>

        </main>
    </div>
</div>
<br>


<script>

    // 사용자 정보 수정 요청 보내기
    function editUser() {
        var userName = document.getElementById('userName').value;
        var userPassword = document.getElementById('userPassword').value;

        var data = {
            userName: userName,
            userPassword: userPassword
        };

        fetch('/user/edit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())  // 응답을 텍스트로 파싱
            .then(data => {
                console.log('Response:', data);
                if (data === 'Success') {
                    alert('User updated successfully');
                    // 성공 시, mypage로 이동
                    window.location.href = '/user/mypage';
                } else {
                    alert('Failed to update user');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>


<script>
    function setNew (_menu) {
        var menus = document.querySelectorAll('li');
        menus.forEach(function (menu) {
            menu.classList.remove('on');
        })
        document.querySelector('li.' + _menu).classList.add('on');

        element = document.querySelector("main");
        element.className = '';
        element.classList.add(_menu);
    }
</script>

<!-- 모바일 메뉴 -->
<nav th:replace="fragments.html :: mobile-nav"></nav>

</body>
</html>