<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new_style.css}">
</head>
<body>
<!-- <div id="logoHead"><div class="slogan">한국 이슈에 대한 일본과 중국의 시각을 한 눈에!</div> -->
<header th:fragment="fragment-header">

    <table class="header-table">
        <tr>
            <td class="td1">
                <span>&nbsp;&nbsp;<a th:href="@{/#}">Dongasians'</a></span>
            </td>
            <td class="td2">
                <div class="translation-form">
                    <form th:action="@{/}" method="post" onsubmit="return translateAndSubmit()">
                        <input type="text" id="sentence" name="sentence" placeholder="번역할 단어 입력하기" required>
                        <button type="submit">
                            ➜
                        </button>
                    </form>
                </div>

                <div style="visibility: collapse" th:if="${translatedSentence != null and not #strings.isEmpty(translatedSentence)}"></div>

                <div class="search-form">
                    <form th:action="@{/news/search}" method="get">
                        <label for="searchKeyword"></label>
                        <input type="text" id="searchKeyword" name="keyword" placeholder="뉴스 검색하기" th:value="${translatedSentence}" required>
                        <button type="submit">
                            🔍︎
                        </button>
                    </form>
                </div>
                &nbsp;&nbsp;
                <div>
                    <img th:src="@{/ques.png}" width="12" height="12">
                </div>
            </td>
            <td class="td3">
                <a>로그인</a>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <a>회원가입</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    </table>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function translateAndSubmit() {
            var sentenceInput = document.getElementById('sentence');
            var translatedSentenceDiv = document.getElementById('translatedSentence');
            var translatedSentence = translatedSentenceDiv.textContent.trim();

            // 번역된 결과를 검색 상자에 설정
            document.getElementById('searchKeyword').value = translatedSentence;

            // 폼을 제출하여 페이지 이동을 막습니다.
            return false;
        }
        /*]]>*/
    </script>
</header>


<nav th:fragment="fragment-nav">
    <div class="nav-bar">
        <div><a th:href ="@{/news}">기사 보기</a></div>
        <div><a th:href="@{/analysis}">기사 분석</a></div>
    </div>
</nav>


<footer th:fragment="fragment-footer" id="footer">
    <div><h2>LOGO</h2>
        <span>팀 동아시아 제작</span>
        <span></span>
    </div>
</footer>

<nav th:fragment="mobile-nav">
    <div class="space-bottom-menu"></div>
    <div class="bottom-menu">
        <div style="float: left">
            <img th:src="@{/menu.png}">
        </div>
        <div style="float: right">
            <img th:src="@{/person.png}">
        </div>
    </div>
</nav>

</body>
</html>