<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new_style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기사 보기</title>
</head>
<body>

<header th:replace="fragments.html :: fragment-header"></header>
<!--
<nav th:replace="fragments.html :: fragment-nav"></nav>
-->

<div class="page-right">

    <div class="page-section">

        <h2>검색</h2>

        <!-- 검색 +번역 합침
        <form th:action="@{/translateAndSearch}" method="post" onsubmit="return translateAndSearch(event)">
            <input type="text" id="sentence" name="sentence" placeholder="번역 후 검색할 단어 입력하기" required>
            <button type="submit">
                번역 후 검색
            </button>
        </form>
        -->
<!--번역 폼-->
        <form th:action="@{/translateSubmit}" method="post" class="news-option" style="border: 0" onsubmit="return translateSubmit(event)">
                <div class="ana-search-form">
                    <label for="sentence"></label>
                    <input type="text" id="sentence" name="sentence" placeholder="번역할 단어 입력하기" required>
                    <button type="submit" class="short_btn">번역</button>
                </div>
        </form>

        <br>
<!--검색 폼-->
        <form th:action="@{/news/search}" method="get" class="news-option" style="border: 0">
            <div class="ana-search-form">
                <label for="searchKeyword"></label>
                <input type="text" id="searchKeyword" name="keyword" placeholder="뉴스 검색하기" required>
                <button type="submit" class="short_btn">검색</button>
            </div>
        </form>

    </div>

<div class="page-section">

    <h2>옵션</h2>

    <form method="post" th:action="@{/news}" th:object="${filterForm}">
        <table class="news-option">
            <!--
            <tr>
                <td width="100">
                    <span>국가</span>
                </td>
                <td>
                    <input type="radio" name="country" value="0" id="jpn" checked="checked">
                    <label for="jpn">일본</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="radio" name="country" value="1" id="ch">
                    <label for="ch">중국</label>
                    <!- 추가 국가 버튼들을 필요에 따라 추가 ->
                </td>

                <td rowspan="2" style="text-align: right">
                    <input type="submit" value="조회" class="long_btn">
                </td>
            </tr>
            -->
            <tr>
                <td>
                    <span>주제</span>
                </td>
                <td>
                    <input type="checkbox" name="category" value="1" id="cate1">
                    <label for="cate1">국제·정치</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox" name="category" value="3" id="cate3">
                    <label for="cate3">경제</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox" name="category" value="4" id="cate4">
                    <label for="cate4">사회·문화</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox" name="category" value="2" id="cate2">
                    <label for="cate2">스포츠</label>
                </td>
                <td rowspan="2" style="text-align: right">
                    <input type="submit" value="조회" class="long_btn">
                </td>
            </tr>

            <tr>
                <td>
                    <span>언론사</span>
                </td>
                <td>
                    <input type="checkbox" name="publisher" value="0" id="pub0">
                    <label for="pub0">NHK</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox" name="publisher" value="2" id="pub2">
                    <label for="pub2">아사히</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox" name="publisher" value="3" id="pub3">
                    <label for="pub3">산케이</label>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="checkbox" name="publisher" value="1" id="pub1">
                    <label for="pub1">마이니치</label>
                </td>
            </tr>
        </table>
    </form>
</div>

<br>

<div class="page-section">

    <h2 style="display: flex">
        <span style="display: inline-block">기사 보기</span>
        &nbsp;&nbsp;
        <form action="/translatedtitles" method="post" onsubmit="return translateAndSubmit(event)">
            <th:block th:each="news, index : ${isFiltering ? newsFilterList : newsList}" th:if="${index.index} < 10">
                <input type="hidden" name="originalTitles" th:value="${news.newsTitle}"/>
            </th:block>
            <button type="submit" class="translate-button translate_btn nl">번역</button>
        </form>

    </h2>

    <!-- 기사 목록 -->
    <table class="list-table" id ="list-table" th:each="news, index : ${isFiltering ? newsFilterList : newsList}" th:if="${index.index} < 10">

        <tr>
            <td th:unless="${news.newsImageURL == ''}" rowspan="2" width="200">
                <img class="news-img" th:src="${news.newsImageURL}" alt="뉴스 이미지">
            </td>
            <td colspan="3" class="news-title">
                <!--<a th:href="@{/news/{newsId}(newsId=${news.newsId})}" th:text="${news.newsTitle}">기사 제목</a>-->
                <a th:href="@{/news/{newsId}(newsId=${news.newsId})}" data-news-title="${news.newsTitle}">
                    <span th:if="${not #lists.isEmpty(news)}" th:text="${news.newsTitle}" class="after-translation"></span>
                    <span th:if="${translatedTitles != null}" th:text="${translatedTitles[index.index]}" ></span>
                </a>
            </td>
        </tr>
        <tr height="50" style="font-size: 14px">
            <td width="40">
                <span th:switch="${news.newsPublisher}">
                    <span th:case="0"><img class="news-icon" th:src="@{/img/nhk.png}"></span>
                    <span th:case="1"><img class="news-icon" th:src="@{/img/mainichi.png}"></span>
                    <span th:case="2"><img class="news-icon" th:src="@{/img/asahi.png}" style="border: 1px solid grey"></span>
                    <span th:case="3"><img class="news-icon" th:src="@{/img/sankei.png}" style="border: 1px solid grey"></span>
                </span>
            </td>
            <td>
                <span th:switch="${news.newsPublisher}">
                    <span th:case="0">NHK</span>
                    <span th:case="1">마이니치</span>
                    <span th:case="2">아사히</span>
                    <span th:case="3">산케이</span>
                </span>
            </td>
            <td th:text="${news.newsDate}" style="text-align:right; color: grey">기사 일자</td>
        </tr>
    </table>
 </div>
</div>

<!--
<script th:inline="javascript">
    /*<![CDATA[*/
    //번역+검색 동시에
    async function translateAndSearch(event) {
        event.preventDefault(); // 기본 동작 중지

        var sentenceInput = document.getElementById('sentence');

        try {
            var response = await fetch('/translateAndSearch', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'sentence': sentenceInput.value,
                }),
            });

            if (response.ok) {
                var result = await response.json();

                if (result.translatedSentence) {
                    // 번역된 문장을 같은 입력 필드에 업데이트
                    sentenceInput.value = result.translatedSentence;
                }

                // 검색 결과를 업데이트
                updateSearchResults(result.newsList);
            } else {
                console.error('번역 후 검색 요청 실패:', response.status, response.statusText);
            }
        } catch (error) {
            console.error('번역 후 검색 요청 중 오류 발생:', error);
        }
    }


        function updateSearchResults(newsList) {
            // 기존의 기사 목록을 지우기
            var tbodyElement = document.querySelector('.list-table tbody');
            tbodyElement.innerHTML = '';

            // 새로운 검색 결과를 표시하는 부분
            newsList.slice(0, 10).forEach(function(news) {
                // 기사 목록을 추가
                var newRow = tbodyElement.insertRow();

                var cell1 = newRow.insertCell(0);
                var cell2 = newRow.insertCell(1);
                var cell3 = newRow.insertCell(2);

                cell1.setAttribute('rowspan', '2');
                cell1.width = '200';

                if (news.newsImageURL !== '') {
                    var image = document.createElement('img');
                    image.src = news.newsImageURL;
                    image.alt = '뉴스 이미지';
                    image.className = 'news-img';
                    cell1.appendChild(image);
                }

                cell2.colSpan = 3;
                cell2.className = 'news-title';

                var link = document.createElement('a');
                link.href = '/news/' + news.newsId;
                link.dataset.newsTitle = news.newsTitle;

                var span1 = document.createElement('span');
                span1.className = 'after-translation';
                if (news.newsTitle !== '') {
                    span1.textContent = news.newsTitle;
                }

                link.appendChild(span1);
                cell2.appendChild(link);

                // 기사 출처, 아이콘, 일자 부분 추가
                var newRow2 = tbodyElement.insertRow();
                newRow2.style.height = '50px';
                newRow2.style.fontSize = '14px';

                var cell4 = newRow2.insertCell(0);
                var cell5 = newRow2.insertCell(1);
                var cell6 = newRow2.insertCell(2);

                cell4.width = '40';

                var iconImage = document.createElement('img');
                iconImage.className = 'news-icon';
                switch (news.newsPublisher) {
                    case 0:
                        iconImage.src = '/img/nhk.png';
                        break;
                    case 1:
                        iconImage.src = '/img/mainichi.png';
                        break;
                    case 2:
                        iconImage.src = '/img/asahi.png';
                        iconImage.style.border = '1px solid grey';
                        break;
                    case 3:
                        iconImage.src = '/img/sankei.png';
                        iconImage.style.border = '1px solid grey';
                        break;
                    default:
                        break;
                }
                cell4.appendChild(iconImage);

                var span3 = document.createElement('span');
                switch (news.newsPublisher) {
                    case 0:
                        span3.textContent = 'NHK';
                        break;
                    case 1:
                        span3.textContent = '마이니치';
                        break;
                    case 2:
                        span3.textContent = '아사히';
                        break;
                    case 3:
                        span3.textContent = '산케이';
                        break;
                    default:
                        break;
                }
                cell5.appendChild(span3);

                cell6.textContent = news.newsDate;
                cell6.style.textAlign = 'right';
                cell6.style.color = 'grey';
            });
        }


    /*]]>*/
</script>
-->

<script th:inline="javascript">
    /*<![CDATA[*/
    //검색창 번역함수
    async function translateSubmit(event) {
        event.preventDefault(); // 기본 동작 중지

        var sentenceInput = document.getElementById('sentence');
        var translatedSentenceDiv = document.getElementById('translatedSentence');

        try {
            var response = await fetch('/translateSubmit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'sentence': sentenceInput.value,
                }),
            });

            if (response.ok) {
                var result = await response.json();

                if (result.translatedSentence) {
                    document.getElementById('searchKeyword').value = result.translatedSentence;
                    translatedSentenceDiv.textContent = result.translatedSentence;
                } else if (result.error) {
                    console.error('번역 오류:', result.error);
                }
            } else {
                console.error('번역 요청 실패:', response.status, response.statusText);
            }
        } catch (error) {
            console.error('번역 요청 중 오류 발생:', error);
        }

        return false;
    }
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/

//기사 제목 번역함수
    function translateAndSubmit(event) {
        var formData = new FormData(document.forms[0]);

        // 모든 뉴스 제목을 FormData에 추가
        var newsTitles = document.getElementsByName("originalTitles");

        for (var i = 0; i < newsTitles.length; i++) {
            formData.append("originalTitles", newsTitles[i].value);

        }

        event.preventDefault();

        for (const entry of formData.entries()) {
            console.log(entry);
        }

        fetch('/translatedtitles', {
            method: 'POST',
            body: formData

        })
            .then(response => response.json())
            .then(data => {

                console.log('fetch 함수에서 받아온 데이터:', data);
                var translatedTitles = Array.from(new Set(data.titles)).slice(0, 10); // 중복 제거 및 최대 5개만 선택
                updateTranslatedTitles(translatedTitles);
            })
            .catch(error => {
                console.error('오류:', error);
                alert('번역 중 오류가 발생했습니다.');
            });
        console.log('새로운 뉴스 추가됨');
    }


    function updateTranslatedTitles(translatedTitles) {
        console.log('updateTranslatedTitles 함수 내에서의 번역 결과:', translatedTitles);

        var elements = document.getElementsByClassName("after-translation");

        // 확인용 로그
        console.log('찾은 엘리먼트 수:', elements.length);

        // 번역된 결과를 각 뉴스에 적용
        for (var i = 0; i < elements.length; i++) {
            // 확인용 로그
            console.log('현재 인덱스:', i);
            console.log('번역 결과:', translatedTitles[i]);

            elements[i].textContent = translatedTitles[i];  // innerHTML 대신 textContent 사용
        }
    }


    /*]]>*/
</script>

<!-- 모바일 하단 메뉴 -->
<nav th:replace="fragments.html :: mobile-nav"></nav>

</body>
</html>