<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="~{layouts/layout1}">
<link rel="stylesheet" type="text/css" th:href="@{/css/new_style.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>



    
<h2 th:text="${message}"></h2>

<div layout:fragment="content">


    <div class="login">
        <a th:href="@{/#}" class="title">Dongasians'</a>

        <form role="form" method="post" action="/user/login" class="login-form">
            <div>
                <label th:for="userEmail"></label>
                <input class="login-input" type="email" id="userEmail" name="userEmail" placeholder="이메일을 입력해주세요">
            </div>
            <div>
                <label th:for="userPassword"></label>
                <input class="login-input" type="password" id="userPassword" name="userPassword" placeholder="비밀번호를 입력해주세요">
            </div>

            <div th:if="error">
                <p id="valid" style="color: red; font-size:12px;"><a th:text="${exception}"></a></p>
            </div>

            <button class="login-btn">로그인</button>
            <br>
            <div class="login-signup">
                <span>아직 회원이 아니신가요?</span>
                <a href='/user/signup'>회원가입</a>
            </div>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        </form>
    </div>


</div>

</body>
</html>
