<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/style.css">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
<h2 th:text="${message}"></h2>

    <div class="headerSection">
        <div class="logo">LOGO</div>
        <div class="formBox">
        <form action="">
            <input type="text" name="query" placeholder="뉴스 검색">
                <button type="button"><img class="search-button" src="search.png" /></button>
                <button type="button"><img class="ques-icon" id="ques0" src="ques.png" /></button>
        </form>
        </div>
        <div class="login"><a class="login" href="login.html">로그인</a>&nbsp;&nbsp;&nbsp;<a class="signin" href="signup.html">회원가입</a></div>
    </div>

<nav>
<ul class="nav">
    <li><a href="list.html">기사 보기</a>
        <div><span>국가</span>
            <input type="checkbox" class="menu-btn-chk" id="japan">
            <label class="menu-btn-label" for="japan">일본</label>
            <input type="checkbox" class="menu-btn-chk" id="china">
            <label class="menu-btn-label" for="china">중국</label>
            <br>
            <br>
            <span>주제</span>
            <input type="checkbox" class="menu-btn-chk" id="economics">
            <label class="menu-btn-label" for="economics">경제</label>
            <input type="checkbox" class="menu-btn-chk" id="politics">
            <label class="menu-btn-label" for="politics">정치</label>
            <input type="checkbox" class="menu-btn-chk" id="culture">
            <label class="menu-btn-label" for="culture">사회 문화</label>
            <input type="checkbox" class="menu-btn-chk" id="sports">
            <label class="menu-btn-label" for="sports">스포츠</label>
            <br>
            <br>
            <span>일본 언론사</span>
            <br>
            <br>
            <input type="checkbox" class="menu-btn-chk" id="nikkei">
            <label class="menu-btn-label" for="nikkei">닛케이</label>
            <input type="checkbox" class="menu-btn-chk" id="mainichi">
            <label class="menu-btn-label" for="mainichi">마이니치</label>
            <input type="checkbox" class="menu-btn-chk" id="sankei">
            <label class="menu-btn-label" for="sankei">산케이</label>
            <input type="checkbox" class="menu-btn-chk" id="asahi">
            <label class="menu-btn-label" for="asahi">아사히</label>
            <input type="checkbox" class="menu-btn-chk" id="yomiuri">
            <label class="menu-btn-label" for="yomiuri">요미우리</label>
            <input type="checkbox" class="menu-btn-chk" id="nhk">
            <label class="menu-btn-label" for="nhk">NHK</label>
            <br>
            <br>
            <span>중국 언론사</span>
            <br>
            <br>
            <input type="checkbox" class="menu-btn-chk" id="jp">
            <label class="menu-btn-label" for="jp">인민일보</label>
            <br>
            <button type="submit">조회</button>
        </div>
    </li>
    <li><a href="analysis.html">기사 분석</a></li>
</ul>
</nav>
    <main class="form-signin">
        <form th:object="${userDto}" method="post">
            <div class="form-floating">
                <h2 class="sign-login-h2">로그인</h2>
                <input type="text" id="userName" class="form-control" placeholder="아이디" name="userName" th:value="${userDto.userName}" required>
                <label for="userName"></label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="userPassword" placeholder="비밀번호" name="userPassword" th:value="${userDto.userPassword}" required>
                <label for="userPassword"></label>
            </div>
            <button class="submit_button" type="submit">로그인</button>
        </form>
    </main>

<div id="footer">
    <p>< footer ></p>

</div>
<!-- 로그아웃 폼 -->
</body>
</html>
