<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="./style.css">
<meta charset="UTF-8">
<body>
<script>
    <!--국가 이미지 변경 스크립트-->


</script>

<script>
    function translate() {
        // 입력창에서 텍스트 가져오기
        var inputText = document.getElementById('inputText').value;

        // Papago API로 번역 요청
        fetch('/translate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ text: inputText, sourceLang: 'ko', targetLang: 'en' }),
        })
            .then(response => response.json())
            .then(data => {
                // 번역 결과를 입력 상자에 표시
                document.getElementById('inputText').value = data.translatedText;
            })
            .catch(error => console.error('Error:', error));
    }

    function search() {
        // 검색 폼 제출
        document.getElementById('searchForm').submit();
    }
</script>

<header>
    <h2>한국에 대한 중국과 일본의 시각을 한눈에!</h2>
</header>
<div class="headerSection">
    <div class="logo">LOGO</div>
    <div class="formBox">
        <form action="/" method="post">
            <input id="inputText" type="text" name="query" placeholder="뉴스 검색" onclick="translate()">
            <!-- 번역 및 검색 버튼 분리 -->
            <button type="button" class="translate-btn">번역</button>
            <button type="button" onclick="search()"><img class="search-button" src="/search.png" /></button>
            <button type="button"><img class="ques-icon" id="ques0" src="/ques.png" /></button>
        </form>
    </div>
    <div class="login"><a class="login" href="login.html">로그인</a>&nbsp;&nbsp;&nbsp;<a class="signin" href="signup.html">회원가입</a></div>
</div>
<form id="searchForm" action="/news/search" method="GET">
    <div class="search">
        <input name="keyword" type="hidden" placeholder="검색어를 입력해주세요">
    </div>
</form>
<script>
    const translateBtn= document.querySelector('.translate-btn');
    function translate() {
        // 입력창에서 텍스트 가져오기
        var inputText = document.getElementById('inputText').value;

        // Papago API로 번역 요청
        fetch('/translate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ text: inputText, sourceLang: 'ko', targetLang: 'en' }),
        })
            .then(response => response.json())
            .then(data => {
                // 번역 결과를 입력 상자에 표시
                document.getElementById('inputText').value = data.translatedText;
            })
            .catch(error => console.error('Error:', error));
    }

    function search() {
        // 검색 폼 제출
        document.getElementById('searchForm').submit();
    }
</script>



<nav>
    <ul class="nav">
        <li><a href="list.html">기사 보기</a>
            <div><span>국가</span>
                <input type="checkbox" class="menu-btn-chk" id="japan">
                <label class="menu-btn-label" for="japan">일본</label>
                <input type="checkbox" class="menu-btn-chk" id="china">
                <label class="menu-btn-label" for="china">중국</label>
                <br>
                <br>
                <span>주제</span>
                <input type="checkbox" class="menu-btn-chk" id="economics">
                <label class="menu-btn-label" for="economics">경제</label>
                <input type="checkbox" class="menu-btn-chk" id="politics">
                <label class="menu-btn-label" for="politics">정치</label>
                <input type="checkbox" class="menu-btn-chk" id="culture">
                <label class="menu-btn-label" for="culture">사회 문화</label>
                <input type="checkbox" class="menu-btn-chk" id="sports">
                <label class="menu-btn-label" for="sports">스포츠</label>
                <br>
                <br>
                <span>일본 언론사</span>
                <br>
                <br>
                <input type="checkbox" class="menu-btn-chk" id="nikkei">
                <label class="menu-btn-label" for="nikkei">닛케이</label>
                <input type="checkbox" class="menu-btn-chk" id="mainichi">
                <label class="menu-btn-label" for="mainichi">마이니치</label>
                <input type="checkbox" class="menu-btn-chk" id="sankei">
                <label class="menu-btn-label" for="sankei">산케이</label>
                <input type="checkbox" class="menu-btn-chk" id="asahi">
                <label class="menu-btn-label" for="asahi">아사히</label>
                <input type="checkbox" class="menu-btn-chk" id="yomiuri">
                <label class="menu-btn-label" for="yomiuri">요미우리</label>
                <input type="checkbox" class="menu-btn-chk" id="nhk">
                <label class="menu-btn-label" for="nhk">NHK</label>
                <br>
                <br>
                <span>중국 언론사</span>
                <br>
                <br>
                <input type="checkbox" class="menu-btn-chk" id="jp">
                <label class="menu-btn-label" for="jp">인민일보</label>
                <br>
                <button type="submit">조회</button>
            </div>
        </li>
        <li><a href="analysis.html">기사 분석</a></li>
    </ul>
</nav>
<!--<div th:if="${newsList.isEmpty()}">
    <p>뉴스가 없습니다.</p>
</div>

<div th:each="news, iterStat : ${newsList}">
    <div>제목: <span th:text="${news.newsTitle}"></span></div>

    <div>-->
        <!-- newsId를 기반으로 링크 생성 -->
<!--
<a th:href="@{'/news/' + ${news.newsId}}">뉴스 상세페이지로 이동</a>
</div>
<hr>
</div>-->

<div id="section-wrap">

    <br>
    <div id="weekly-keyword">
        <div id="selcnt1">
            <button type="button" id="jpFlagBtn" onclick="changeImg()"><img class="jp-button" src="../static/japan.jpeg" /></button>
            <img class="exch-button" src="/exchange-arrow.png" />
            <img class="cn-button" src="/china.jpeg" />
        </div>

        <img id="la1" src="/left-arrow.png" />
        <h4 class="section-title">일본 주간 키워드</h4>
        <img class="ques-icon" id="ques1" src="/ques.png" />
        <!-- '?' img -->
        <p>2023.10.02 ~ 2023.10.08</p>

        <ul>
            <li>
                <div class="keyword">
                    아시안 게임
                </div>
                <div class="num">
                    574건
                </div>
            </li>
            <li class="even">
                <div class="keyword">
                    김정은
                </div>
                <div class="num">
                    496건
                </div>
            </li>
            <li>
                <div class="keyword">
                    한류 드라마
                </div>
                <div class="num">
                    368건
                </div>
            </li>
            <li class="even">
                <div class="keyword">
                    아이돌
                </div>
                <div class="num">
                    297건
                </div>
            </li>
            <li>
                <div class="keyword">
                    한일관계
                </div>
                <div class="num">
                    253건
                </div>
            </li>
        </ul>
    </div>

    <div id="recent-news">
        <div id="selcnt2">
            <img class="jp-button" src="/japan.jpeg" />
            <img class="exch-button" src="/exchange-arrow.png" />
            <img class="cn-button" src="/china.jpeg" />
        </div>

        <h4 class="section-title">일본 최신 뉴스</h4>
        <img id="la2" src="/left-arrow.png" />
        <img class="ques-icon" id="ques2" src="/ques.png" />
        <a id="translate-button">번역</a>

        <div id="four-news">
            <div class="one-news">
                <img class="news-img" src="/news1.png" />
                <h5>ジャニーズ再出発に識者「あれは演者の会見だった」 TVもコメント</h5>
                <img class="small-icon" src="/asahi.png" />
                <p class="publisher">아사히</p>
                <p class="one-news-date">2023.10.08 21:23</p>
            </div>
            <div class="one-news">
                <img class="news-img" src="/news2.png" />
                <h5>見捨てられる恐怖に突き動かされたハマス イスラエルは甘く見ていた</h5>
                <img class="small-icon" src="/sankei.png" />
                <p class="publisher">산케이</p>
                <p class="one-news-date">2023.10.08 12:45</p>
            </div>
            <div class="one-news">
                <img class="news-img" src="news3.png" />
                <h5>訪ロの鈴木宗男参院議員「処分に反対も抵抗もしない」 札幌市で会見</h5>
                <img class="small-icon" src="/nhk.png" />
                <p class="publisher">NHK</p>
                <p class="one-news-date">2023.10.08 11:12</p>
            </div>
            <div class="one-news">
                <img class="news-img" src="news4.png" />
                <h5>鉄棒で橋本大輝が初優勝 大会3冠 平行棒の杉本は銅 世界体操</h5>
                <img class="small-icon" src="/mainichi.png" />
                <p class="publisher">마이니치</p>
                <p class="one-news-date">2023.10.08 07:24</p>
            </div>
        </div>
        <a id="more-button" href="list.html">최신 뉴스 더보기</a>
    </div>

    <div id="go-to-websites">
        <h4 class="section-title">원문 바로가기</h4>
        <img class="ques-icon" id="ques3" src="/ques.png" />

        <div class="six-icons" id="si1">
            <div class="one-icon">
                <a href="https://www.yomiuri.co.jp/" target="_blank">
                    <img class="icon" src="/yomiuri.png" />
                </a>
                <p class="icon-pub">요미우리</p>
            </div>
            <div class="one-icon">
                <a href="https://www.nhk.or.jp/" targer="_blank">
                    <img class="icon" src="/nhk.png" />
                </a>
                <p class="icon-pub">NHK</p>
            </div>
            <div class="one-icon">
                <a href="https://www.nikkei.com/" target="_blank">
                    <img class="icon" src="/nikkei.png" /></a>
                <p class="icon-pub">닛케이</p>
            </div>
            <div class="one-icon">
                <a href="https://mainichi.jp/" target="_blank">
                    <img class="icon" src="../static/mainichi.png" /></a>
                <p class="icon-pub">마이니치</p>
            </div>
            <div class="one-icon">
                <a href="https://www.asahi.com/" target="_blank">
                    <img class="icon" src="/asahi.png" /></a>
                <p class="icon-pub">아사히</p>
            </div>
            <div class="one-icon">
                <a href="https://www.sankei.com/" target="_blank">
                    <img class="icon" src="/sankei.png" /></a>
                <p class="icon-pub">산케이</p>
            </div>
        </div>
        <div id="icon-line"></div>

        <div class="six-icons" id="si2">
            <div class="one-icon">
                <a href="www.peopledaily.com.cn" target="_blank">
                    <img class="icon" src="/inmin.png" /></a>
                <p class="icon-pub">인민일보</p>
            </div>
            <div class="one-icon">
                <a href="http://www.bjnews.com.cn/" target="_blank">
                    <img class="icon" src="/shinkyungbo.png" /></a>
                <p class="icon-pub">신경보</p>
            </div>
            <div class="one-icon">
                <a href="https://www.huanqiu.com/" target="_blank">
                    <img class="icon" src="/hwangu.png" /></a>
                <p class="icon-pub">환구시보</p>
            </div>
            <div class="one-icon">
                <a href="http://global.chinadaily.com.cn/" target="_blank">
                    <img class="icon" src="/jungguk.png" /></a>
                <p class="icon-pub">중국일보</p>
            </div>
            <div class="one-icon">
                <a href="http://www.cyol.net/" target="_blank">
                    <img class="icon" src="/junggukchungnyun.png" /></a>
                <p class="icon-pub">중국청년보</p>
            </div>
            <div class="one-icon">
                <a href="http://www.cankaoxiaoxi.com/" target="_blank">
                    <img class="icon" src="/chamgo.png" /></a>
                <p class="icon-pub">참고소식</p>
            </div>
        </div>

    </div>
</div>

<br>

<footer id="footer">
    <div><h2>LOGO</h2>
        <span>팀 동아시아 제작</span>
        <span></span>
    </div>
</footer>
</body>
</html>


