<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new_style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기사 본문</title>
</head>
<body>

<header th:replace="fragments.html :: fragment-header"></header>
<!--mebubar fragment-->
<nav th:replace="fragments.html :: fragment-nav"></nav>


<div th:if="${news}" class="news-main-border-box">
    <table>
        <tr><td colspan="5" class="news-main-title">
            <span th:text="${news.newsTitle}">기사 제목</span>
            &nbsp;&nbsp;
            <span class="translate_btn">번역</span>
        </td></tr>

        <tr class="news-info">
            <td width="30">
                <span th:switch="${news.newsPublisher}">
                        <span th:case="0"><img class="news-icon" th:src="@{/nhk.png}"></span>
                        <span th:case="1"><img class="news-icon" th:src="@{/mainichi.png}"></span>
                        <span th:case="2"><img class="news-icon" th:src="@{/asahi.png}"></span>
                        <span th:case="3"><img class="news-icon" th:src="@{/sankei.png}"></span>
                </span>
            </td>
            <td style="text-align: left">
                &nbsp;&nbsp;
                <span th:switch="${news.newsPublisher}">
                        <span th:case="0">NHK</span>
                        <span th:case="1">마이니치</span>
                        <span th:case="2">아사히</span>
                        <span th:case="3">산케이</span>
                </span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span th:text="${news.newsDate}">기사 날짜</span>
            </td>

            <td style="text-align: right">
                <span>
                    <img th:src="@{/bookmark_0.png}" width="12" height="12">
                    스크랩하기
                </span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <a th:href="${news.newsLink}">원문보기</a>
            </td>
        </tr>

        <tr th:unless="${news.newsImageURL == ''}"><td colspan="5" style="text-align: center">
            <br>
            <img th:src="${news.newsImageURL}" alt="뉴스 이미지" class="news-image">
        </td></tr>
        <tr><td colspan="5" style="padding: 30px">
            <span id="news-body" th:text="${news.newsContents}">
                기사 본문
            </span>
            <script type="text/javascript">
                function insert_new_body() {
                    var str = document.getElementById('news-body').textContent;
                    var change = str.replaceAll("/", "<br><br>");
                    document.getElementById('news-body').innerHTML = change;
                }
                insert_new_body();
            </script>
        </td></tr>
    </table>
</div>

<!-- 모바일 하단 메뉴 -->
<nav th:replace="fragments.html :: mobile-nav"></nav>



</body>
</html>