<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/new_style.css}">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기사 본문</title>
</head>
<body>

<header th:replace="fragments.html :: fragment-header"></header>
<!--mebubar fragment-->
<nav th:replace="fragments.html :: fragment-nav"></nav>


<div th:if="${news}" class="news-main-border-box">
    <table>
        <tr><td colspan="5" class="news-main-title">
            <span th:if="${translatedTitle == null}" th:text="${news.newsTitle}" class="before-translation">기사 제목</span>
            <span th:if="${translatedTitle != null}" th:text="${translatedTitle}" class="after-translation">번역된 제목</span>
            &nbsp;&nbsp;
            <form th:action="@{/news/{newsId}(newsId=${news.newsId})}" method="post" onsubmit="return translateNews()">
                <!-- newsId를 숨은 필드로 추가 -->
                <input type="hidden" name="title" th:if="${news}" th:value="${news.newsTitle}" />
                <input type="hidden" name="content" th:if="${news}" th:value="${news.newsContents}" />
                <button type="submit" class="translate_btn">번역</button>
            </form>
        </td></tr>

        <tr class="news-info">
            <td width="30">
                <span th:switch="${news.newsPublisher}">
                        <span th:case="0"><img class="news-icon" th:src="@{/img/nhk.png}"></span>
                        <span th:case="1"><img class="news-icon" th:src="@{/img/mainichi.png}"></span>
                        <span th:case="2"><img class="news-icon" th:src="@{/img/asahi.png}"></span>
                        <span th:case="3"><img class="news-icon" th:src="@{/img/sankei.png}"></span>
                </span>
            </td>
            <td style="text-align: left">
                &nbsp;&nbsp;
                <span th:switch="${news.newsPublisher}">
                        <span th:case="0">NHK</span>
                        <span th:case="1">마이니치</span>
                        <span th:case="2">아사히</span>
                        <span th:case="3">산케이</span>
                </span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <span th:text="${news.newsDate}">기사 날짜</span>
            </td>

            <td style="text-align: right">
                <span>
                    <img th:src="@{/img/bookmark_0.png}" width="12" height="12">
                    스크랩하기
                </span>
                &nbsp;&nbsp;·&nbsp;&nbsp;
                <a th:href="${news.newsLink}">원문보기</a>
            </td>
        </tr>

        <tr th:unless="${news.newsImageURL == ''}"><td colspan="5" style="text-align: center">
            <br>
            <img th:src="${news.newsImageURL}" alt="뉴스 이미지" class="news-image">
        </td></tr>
        <tr><td colspan="5" style="padding: 30px">
            <span class="before-translation" th:if="${translatedContent == null}" th:text="${news.newsContents}">
                기사 본문
            </span>
            <span class="after-translation" th:if="${translatedContent != null}" th:text="${translatedContent}">
                번역된 본문
            </span>
            <script type="text/javascript">
                function insert_new_body() {
                    if (document.getElementsByClassName('before-translation')[1] != null) {
                        let str1 = document.getElementsByClassName('before-translation')[1].textContent;
                        document.getElementsByClassName('before-translation')[1].innerHTML = str1.replaceAll("/", "<br><br>");
                    }
                    if (document.getElementsByClassName('after-translation')[1] != null) {
                        let str2 = document.getElementsByClassName('after-translation')[1].textContent;
                        document.getElementsByClassName('after-translation')[1].innerHTML = str2.replaceAll("/", "<br><br>");
                    }
                }

                insert_new_body(); // 번역 후에는 띄어쓰기가 적용되지 않는 문제를 해결해야 함.
            </script>

        </td></tr>
    </table>
</div>

<!-- 모바일 하단 메뉴 -->
<nav th:replace="fragments.html :: mobile-nav"></nav>

<script th:inline="javascript">
    /*<![CDATA[*/


    function translateNews() {
        // 폼 데이터 가져오기
        var formData = new FormData(document.forms[0]);

        // 명시적으로 "title"과 "content" 파라미터 추가
        formData.append("title", newsTitle);
        formData.append("content", newsContents);
        // newsId를 추가
        formData.append("newsId", newsId);

        // 서버로 데이터 전송
        fetch('/news?newsId=' + newsId,  {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {})
            .catch(error => {
                console.error('Error:', error);
                alert('번역 중 오류가 발생했습니다.');
            });

        // 폼 제출 방지
        return false;
    }
    /*]]>*/
</script>
</body>
</html>