<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>new flask spring</title>
</head>
<body>

<div id="example">AJAX
    <input type="text" id="id1" placeholder="id">
    <input type="text" id="password1" placeholder="password">
    <button id="execute">execute</button> <!-- input type을 button으로 변경 -->

    <!-- 결과를 표시할 영역 추가 -->
    <div id="result"></div>
</div>

<script>
    $('#execute').click(function(){
        var id = $('#id1').val();
        var password = $('#password1').val();

        var postdata = {
            'id': id, 'password': password
        };

        $.ajax({
            type: 'POST',
            url: '/processForm',
            data: JSON.stringify(postdata),
            contentType: "application/json",
            success: function(data){
                // 서버에서 받은 데이터를 동적으로 표시
                $('#result').html('성공! 데이터 값:' + data);
            },
            error: function(request, status, error){
                alert('AJAX 통신 실패');
                alert(error);
            }
        });
    });
</script>

</body>
</html>
