<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring and Flask Communication</title>
</head>
<body>
<h1>Spring and Flask Communication</h1>
<!--
<form id="sendDataForm" th:action="@{/sendDataToFlask}" method="post">
    <button type="button" onclick="sendFormData()">Send Data to Flask</button>
</form>

<div id="flaskResponse">
    <h2>Flask Response:</h2>
    <p id="flaskResponseMessage"></p>
</div>
-->
<div id="flaskResponse">
    <h2>Flask Response:</h2>
    <p id="flaskResponseMessage" th:text="${flaskResponse}"></p>
</div>

<!-- jQuery CDN 추가 -->
<!--
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>*/

<script>
    // FormData 객체를 사용하여 form 데이터를 전송하는 함수
    function sendFormData() {
        $.ajax({
            type: 'POST',
            url: '/sendDataToFlask',
            contentType: 'application/json',
            dataType: 'json',
            success: function (data) {
                console.log('Success:', data);
                var flaskResponse = data.message ? data.message : 'No message';
                $('#flaskResponseMessage').text("Message: " + flaskResponse);
            },
            error: function (xhr, status, error) {
                console.error('Error:', xhr, status, error);

                console.error('Response Text:', xhr.responseText);

            }
        });
    }


    // 폼 제출 이벤트를 캐치하고 FormData를 전송하는 함수 호출
    $('#sendDataForm').submit(function (e) {
        e.preventDefault();
        sendFormData();
    });
</script>
-->
</body>
</html>









