<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translation Page</title>
</head>
<body>
<h1>Translation Page</h1>

<form action="/translate/result" method="post" onsubmit="return translate()">
    <label for="sentence">Enter a sentence to translate:</label>
    <input type="text" id="sentence" name="sentence" required>
    <button type="submit">Translate</button>
</form>

<div th:if="${translatedSentence != null and not #strings.isEmpty(translatedSentence)}">
    <p>Translated Sentence:</p>
    <p th:text="${translatedSentence}" id="translatedSentence"></p>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    function translate() {
        var sentenceInput = document.getElementById('sentence');
        var translatedSentenceDiv = document.getElementById('translatedSentence');
        var translatedSentence = translatedSentenceDiv.textContent.trim();

        // 번역된 결과를 입력 상자에 설정
        sentenceInput.value = translatedSentence;

        // 폼을 제출하여 페이지 이동을 막습니다.
        return false;
    }
    /*]]>*/
</script>

</body>
</html>

















